h1 {
  font-size: 10rem;
  font-family: "Racing Sans One", cursive;
  color: ivory;
  text-shadow: 1px 1px 5px black; }

h2 {
  font-size: 8rem;
  font-family: "Racing Sans One", cursive; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, p, li, ul {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background: ivory;
  padding: 0;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: #333; }

.wrapper {
  max-width: 1280px;
  width: 75%;
  margin: 0 auto; }

section {
  width: 100%;
  padding: 5rem 0; }
  section canvas {
    display: block;
    width: 80%;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto; }

a {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  text-shadow: 0 0 1px ivory;
  text-decoration: none;
  color: #333;
  transform: translateY(150px); }

.basic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; }
  .basic__heading {
    z-index: 10;
    position: absolute;
    margin: 0; }
    .basic__heading--h1 {
      font-family: "Racing Sans One", cursive; }
  .basic__header {
    padding: 0; }
    .basic__header--canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      border-radius: 0; }

.howTo {
  height: 100%; }
  .howTo--title {
    text-align: center; }

.text {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .text__description {
    font-size: 3rem; }

.text__listContainer {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style-position: inside;
  position: relative;
  transition: all ease 3s; }
  .text__listContainer--item {
    flex: 1 0 20%;
    margin: 10px;
    padding-top: 2rem; }
    .text__listContainer--item--text {
      display: block;
      padding: 1rem; }
    .text__listContainer--item--image {
      width: 70%;
      margin: 0 auto;
      border-radius: 20px; }
    .text__listContainer--item:active {
      transform: scale(0.95);
      margin: 0 auto;
      background: ivory;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

.howTo-button {
  transform: translate(0px, 0px); }

.uses__list {
  font-size: 3rem; }

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .photo__title {
    position: absolute;
    margin: 0;
    color: ivory; }

.photo__button {
  position: absolute;
  top: 67%; }

.wild {
  height: 100vh; }
  .wild__question {
    padding: 5rem 0;
    font-size: 5rem;
    text-decoration: none;
    color: #333; }

.ftr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; }
  .ftr__heading {
    z-index: 10;
    position: absolute;
    margin: 0; }
    .ftr__heading--h1 {
      font-family: "Racing Sans One", cursive; }
  .ftr__header {
    padding: 0; }
    .ftr__header--canvas {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      border-radius: 0; }

.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 0.7; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; } }
